@model IEnumerable<ContactManager.Models.Contact>

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    Are you sure that you want to delete the entry for
    <%= Model.FIRST_NAME %> <%= Model.LAST_NAME %>?
</p>

    <% using (Html.BeginForm(new { Id = Model.Id }))
       { %>
<p>
    <input type="submit" value="Delete" />
</p>
    <% } %>

<div>
    <%=Html.ActionLink("Back to List", "Index") %>
</div>